.header-nav {
    height: auto;
    background-color: rgb(30 44 56/1);
    color: #fff;
    padding: 10px 0px;
    position: sticky;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container a {
    text-decoration: none;
    color: white;
}

.right-nav ul {
    margin: 0;

}

.right-nav ul li {
    list-style: none;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.right-nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}




.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #51ff51;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .5s;
}

.nav-mobile-btn {
    display: none;
}


/* mobile nav start  */







.navigation{
    display: none;
}






#menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    padding: 5px;
    cursor: pointer;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #fff;
    
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

#menu {
    position: absolute;
    visibility: hidden;
    right: -20px;
    top: 30px;
    z-index: 888;
    background-color: #36383F;
    padding: 20px;
}

#menu li {
    padding: 5px 10px;
    list-style: none;
}
#menu li:hover {
    background-color: rgb(255, 35, 171);
}

#menuToggle input:checked~ul {
    transform: none;
}
#menuToggle input:checked~#menu {
    transition: 0.6s;
    position: absolute;
    visibility: visible;
    /* top: 10px; */
}

/* mobile nav end here  */



@media screen and (max-width:682px) {
    .right-nav{
        display: none;
    }
    .navigation{
        display: block;
    }

}