.project-details-container {
    display: flex;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .900) !important;
    min-height: 500px;
}

.project-img-container {
    display: flex;

}
.project-img-container img{
    max-width: 100%;

}

.project-details-container>div {
    width: 50%;
}

.tools-container {

    display: flex;
    justify-content: space-between;
}

.tools-container li {
    padding: 3px;
    /* list-style: none; */
    /* border-bottom: 2px dashed gray; */
}

.tools-container li:hover {
    transition: 0.5s;
    color: rgb(255, 0, 179);
}


@media screen and (max-width:682px) {
    .project-details-container {
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .900) !important;
    }

    .project-details-container>div {
        width: 100%;
    }

    .project-content p {
        margin-top: 20px;
    }
}


@media screen and (min-width:683px) and (max-width:978px) {
    .project-details-container {
        display: flex;
        flex-direction: column;
        
    }
    .tools-container{
        justify-content: space-around;
    }

    .project-details-container>div {
        width: 100%;
    }

    .project-content p {
        margin-top: 20px;
    }
}