@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    min-height: 100vh;
    /* font-family: 'Poppins', sans-serif; */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* background: rgb(18, 18, 18); */
    background-color: rgb(20 30 39/1);
    color: rgb(238, 238, 238);
    transition: all 0.5s linear 0s;
    user-select: none;
    
}

