.main-page {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    min-height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-page h2 {
    font-size: 4rem;
    font-weight: 700;
}

.main-page h4 {
    font-size: xx-large;
}

/* responsive home page for mobile  */

@media screen and (max-width:682px) {
    .main-page h2 {
        font-size: 2.7rem;
    }

    .main-page h4 {
        font-size: 1.4rem;
    }
}